<!--DATOS DEL USUARIO -->
<div class="container">
    <h2>Ingresar Datos del Usuario</h2>
    <div class="form-floating mb-3 col-6">
        <input type="email" class="form-control" id="floatingInput" placeholder="Correo" required>
        <label for="floatingInput">Correo</label>
      </div>
      <div class="form-floating mb-3 col-6">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Contraseña" required>
        <label for="floatingPassword">Contraseña</label>        
      </div>
      <div class="form-floating mb-3 col-6">
        <input type="text" class="form-control" id="floatingInput" placeholder="Nombre de Usuario" required>
        <label for="floatingInput">Nombre de Usuario</label>
      </div>
      <div class="form-floating mb-3 col-6">
        <input type="text" class="form-control" id="floatingInput" placeholder="Nombre" required>
        <label for="floatingInput">Nombre</label>
      </div>
      <div class="form-floating mb-3 col-6">
        <input type="text" class="form-control" id="floatingInput" placeholder="Apellido" required>
        <label for="floatingInput">Apellido</label>
      </div>
      <div class="form-floating mb-3 col-2">
        <input type="number" class="form-control" id="floatingInput" placeholder="Edad" required>
        <label for="floatingInput">Edad</label>
      </div>
      <div class="mb-3 col-2">
        <select class="form-select" aria-label="Default select example" required>
            <option selected>Sexo</option>
            <option value="1">M</option>
            <option value="2">F</option>
        </select>
    </div>  
</div>
<!--UBICACION DEL USUARIO-->
<div class="container">
    <h3>Ubicación</h3>
    <div class="mb-3 col-6">
        <label for="exampleFormControlInput1" class="form-label">Pais:</label>
        <select class="form-select" aria-label="Default select example" required>
            <option selected>Seleccionar Pais</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
    </div>
      <div class="mb-3 col-6">
        <label for="exampleFormControlInput1" class="form-label">Ciudad:</label>
        <select class="form-select" aria-label="Default select example" required>
            <option selected>Seleccionar Ciudad</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
      </div>  
</div>
<!--TIPO DE PLAN A ESCOGER-->
<div class="container ">
    <h2 class="mt-5">Seleccionar Plan</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Plan 1</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1"> 
                    Default radio
                </label>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Plan 2</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">
           <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                    Default radio
                </label>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Plan 3</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                <label class="form-check-label" for="flexRadioDefault3">
                    Default radio
                </label>
            </div>
          </div>
        </div>
      </div>
</div>
<!--TIPO DE SUSCRIPCION A ESCOGER-->
<div class="container ">
    <h2 class="mt-5">Suscripción</h2>
    <h5>Todas las suscripciones con un mes gratis de regalo</h5>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Plan 1</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <input class="form-check-input" type="radio" name="flexRadioDefault1" id="flexRadioDefault4">
                <label class="form-check-label" for="flexRadioDefault4">
                    Default radio
                </label>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Plan 2</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">
           <input class="form-check-input" type="radio" name="flexRadioDefault1" id="flexRadioDefault5">
                <label class="form-check-label" for="flexRadioDefault5">
                    Default radio
                </label>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Plan 3</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
                <input class="form-check-input" type="radio" name="flexRadioDefault1" id="flexRadioDefault6">
                <label class="form-check-label" for="flexRadioDefault6">
                    Default radio
                </label>
            </div>
          </div>
        </div>
      </div>
</div>
<!--DATOS DE TARJETA-->
<div class="container ">
    <h2 class="mt-5">Datos de Tarjeta de crédito</h2>
    <div class="form-floating mb-3 col-6">
        <input type="number" class="form-control" id="floatingInput" placeholder="Numero de Tarjeta" required>
        <label for="floatingInput">Numero de Tarjeta</label>
      </div>
      <div class="form-floating mb-3 col-6">
        <input type="number" class="form-control" id="floatingInput" placeholder="CVV" required>
        <label for="floatingInput">CVV</label>
      </div>
      <div class="form-floating mb-3 col-6">
        <input type="date" class="form-control" id="floatingInput" placeholder="Fecha de vencimiento" required>
        <label for="floatingInput">Fecha de vencimiento</label>
      </div>
</div>
<div class="container display-flex">
    <div class=" d-flex justify-content-center mt-5 mb-5">
        <button  type="input" class="btn btn-danger btn-lg  ">Registrarse</button>
    </div>    
</div>