<!--DATOS DEL USUARIO -->
<div class="container">
    <h2>Ingresar Datos del Usuario</h2>
    <form [formGroup]="usuario">
    <div class="form-floating mb-3 col-6 form-group">
        <input type="email" class="form-control" formControlName="email" placeholder="Correo" required>
        <label for="floatingInput">Correo</label>
      </div>
      <div class="form-floating mb-3 col-6 form-group">
        <input type="password" class="form-control" formControlName="password" placeholder="Contraseña" required>
        <label for="floatingPassword">Contraseña</label>        
      </div>
      <div class="form-floating mb-3 col-6 form-group">
        <input type="text" class="form-control" formControlName="nombreUser" placeholder="Nombre de Usuario" required>
        <label for="floatingInput">Nombre de Usuario</label>
      </div>
      <div class="form-floating mb-3 col-6 form-group">
        <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre" required>
        <label for="floatingInput">Nombre</label>
      </div>
      <div class="form-floating mb-3 col-6 form-gorup">
        <input type="text" class="form-control" formControlName="apellido" placeholder="Apellido" required>
        <label for="floatingInput">Apellido</label>
      </div>
      <div class="form-floating mb-3 col-2 form-group">
        <input type="number" class="form-control" formControlName="edad" placeholder="Edad" required>
        <label for="floatingInput">Edad</label>
      </div>
      <div class="mb-3 col-2 form-group">
        <h5>Escoger Sexo:</h5>
        <select class="form-select form-control" formControlName="sexo" aria-label="Default select example" required>
            <option value="M">M</option>
            <option value="F">F</option>
        </select>
    </div>
<!--UBICACION DEL USUARIO-->
<div class="container">
    <h3>Ubicación</h3>
    <label for="exampleFormControlInput1" class="form-label">Pais:</label>
    <div class="mb-3 col-6 form-group" *ngIf="hayRegistros(); else no_paises_registradas"  >
      <form [formGroup]="pais">
        <div class="mb-3 col-6" >
            <select  class="form-select form-control" formControlName="idPais" aria-label="Default select example"  (change)="listarCiudades()">
                <option  *ngFor="let paises of listaPaises" value="{{paises.Id_Pais}}" >{{paises.Nombre}} </option>
              </select> 
        </div>
        </form>
    </div>
    <ng-template #no_paises_registradas>
      <h1><p>No hay paises registrados.</p></h1>
    </ng-template>
      <div class="form-group mb-3 col-6 ">
        <label for="exampleFormControlInput1" class="form-label">Ciudad:</label>
        <div class="mb-3 col-6" >
        <select  class="form-select form-control" aria-label="Default select example" formControlName="id_ciudad" *ngIf="hayRegistrosCiudades(); else no_ciudades_registradas" >
            <option *ngFor="let ciudad of listaCiudades" value="{{ciudad.Id_Ciudad}}">{{ciudad.Nombre}}</option> 
          </select>
        </div>
          <ng-template #no_ciudades_registradas>
            <h5><p>Escoger Pais</p></h5>
          </ng-template>
        </div> 
</div>
</form>  
</div>
<!--TIPO DE PLAN A ESCOGER-->
<div class="container ">
  <h3>Planes</h3>
  <div class="mb-3 col-6" *ngIf="hayRegistrosPlanes(); else no_planes_registradas" >
      <form [formGroup]="plan">
        <div class="mb-3 col-6"  >
            <select  class="form-select form-control" formControlName="idPlan" aria-label="Default select example"  (change)="listarSuscripciones()">
                <option  *ngFor="let planes of listaPlanes" value="{{planes.Id_Plan}}" >{{planes.Nombre_Plan}} </option>
              </select> 
        </div>
        </form>
  </div>
  <ng-template #no_planes_registradas>
    <h1><p>No hay planes registrados.</p></h1>
  </ng-template>
</div>
<!--TIPO DE SUSCRIPCION A ESCOGER-->
<div class="container ">
  <h3>Suscripciones</h3>
  <form [formGroup]="suscripcion">
  <div class="mb-3 col-6" *ngIf="hayRegistrosSuscripciones(); else no_suscripciones_registradas"  >
      <label for="exampleFormControlInput1" class="form-label">Plan:</label>
      <div class="form-group mb-3 col-6 ">
      <select  class="form-select form-control" formControlName="idSuscripcion" aria-label="Default select example"  >
          <option  *ngFor="let suscripcion of listaSuscripciones" value="{{suscripcion.Id_Suscripcion}}" >{{suscripcion.Nombre}} {{suscripcion.Tarifa}}$ </option>
        </select> 
        </div>
  </div>
  <ng-template #no_suscripciones_registradas>
    <h5><p>Escoger Plan</p></h5>
  </ng-template>
</form>
</div>
<!--DATOS DE TARJETA-->
<div class="container ">
  <form [formGroup]="tarjetaCredito">
    <h2 class="mt-5">Datos de Tarjeta de crédito</h2>
    <div class="form-floating mb-3 col-6">
        <input type="number" class="form-control" formControlName="numero" placeholder="Numero de Tarjeta" >
        <label for="floatingInput">Numero de Tarjeta</label>
      </div>
      <div class="form-floating mb-3 col-6">
        <input type="number" class="form-control" formControlName="cvv" placeholder="CVV" >
        <label for="floatingInput">CVV</label>
      </div>
      <div class="form-floating mb-3 col-6">
        <input type="date" class="form-control" formControlName="fechaVencimiento" placeholder="Fecha de vencimiento" >
        <label for="floatingInput">Fecha de vencimiento</label>
      </div>
    </form>
</div>
<form [formGroup]="contrata">
<div *ngIf="hayUser();">
<input *ngFor="let us of user"  formControlName="idsuscripcion" value="{{us.Id_Usuario}}">
</div>
</form>
<div class="container display-flex">
    <div class=" d-flex justify-content-center mt-5 mb-5">
        <button  type="button" class="btn btn-danger btn-lg " (click)="Registrar()" routerLink="/" >Registrarse</button>
    </div>    
</div>