<div class="card col-8 mx-auto text-white bg-secondary my-5" style= "max-width: 40rem; ">
    <div class="card-body">
    <h2 class="text-center"> Iniciar Sesión</h2>
    <form>
        <div class="mb-3 col-6 mx-auto">
            <label for="exampleInputEmail1" class="form-label">Correo:</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3 col-6 mx-auto">
            <label for="exampleInputPassword1" class="form-label">Contraseña:</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="d-grid gap-2 col-2 mx-auto">
            <button class="btn btn-danger" type="submit">INGRESAR</button>
        </div>
        <h4 class="card-text">¿Primera vez en Netflix?</h4>
        <a href="" class="card-text text-white">Suscribete Aqui</a>
  </form>
</div>
</div>
